.favorites {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 70px 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5px 48px 5px;
    border-bottom: 1px solid #e7e7e7;
    &-inner {
      display: flex;
      gap: 30px;
      align-items: center;
      flex-wrap: wrap;
    }
    &-img {
      background: #c7b4e3;
      width: 256px;
    }
    img {
      max-width: 150px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    &-description {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &__name,
    &__price {
      font-family: "Bebas Neue";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: #313037;
    }
  }
}
