.footer {
  display: flex;
  justify-content: space-between;
  padding: 35px 0 35px 0;
  &__copyright {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #a8a8a8;
  }
}
