.container {
  max-width: 1200px;
  margin: 0 auto;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.books {
  padding: 72px 5px 72px 5px;

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-around;
    align-items: center;
  }
}
